# Required by article-illustration skill for using gpt-image-2
OPENAI_API_KEY=
OPENAI_BASE_URL=

# 方舟模型API(seedream and seedance)
ARK_API_KEY=

# 火山豆包语音(tts & asr) API_KEY
VOLC_SPEECH_API_KEY=

# 火山引擎联网搜索API_KEY
VOLC_WEB_SEARCH_API_KEY=